@media(max-width: 1300px) {
  /* .sixchooses p {
    margin-top: 50px;
  } */

  .hed h1 {
    margin-top: 15px;
    margin-left: 90px;
    font-size: 18px;
  }

  .body-top {
    margin: 0 24px;
  }

  .body-top p {
    width: 100%;
   }

   .news {
    margin: 0 40px 0 50px;
    padding-right: 55px;
  }

  .news-a {
    padding-bottom: 15px;
  }
  
  .right {
    height: 215px;
  }
  
  .water {
    height: 215px;
  }

  .repaer {
    height: 215px;
  }

  .sun {
    height: 215px;
  }

  .ear {
    height: 215px;
  }

  .menter {
    height: 360px;
  }


  .sixchooses p {
    top: 33%;
  left: 50%;
  }

  .sixchooses a {
    top: 67%;
    left: 50%;
    padding: 5px 57px;
  }
  
  .repaer p {
    width: 100%;
  }

  .repaer a {
    padding: 8px 10%;
  }

  .sun a {
    padding: 8px 10%;
  }
  .sun p {
    width: 100%
  }

  .ear a {
    padding: 8px 10%;
  }

  .menter p {
    top: 42%;
    width: 100%;
  }

  .menter a {
    top: 73%;
  }

  .footer-left {
    margin-left: 55px;
    margin-top: 45px;
  }

  .footer-right > p {
    padding-right: 0;
    font-size: 19px;
  }

  .adres {
    padding-right: 50px;
  }

  .menews {
    padding: 47px 80px 0px 22px;
  }

  .copy {
    margin: 0;
  }

}

@media(max-width: 1200px) {
 .hed {
   height: 480px;
 }

 .tel-mail {
  margin: 25px 2% 0 2%;
}

 .tel-mail p {
  font-size: 21px;
  font-weight: 550;
  padding: 0 100px 5px 100px;
}

.tel-mail a {
  font-size: 21px;
  font-weight: 550;
  text-align: center;
}
 
 .news {
  margin: 0 40px 0 4%;
}

.menews {
  padding: 47px 50px 0px 5px;
}

.footer-left {
  margin-left: 45px;
}

.copy {
  margin: 0;
}
}

@media(max-width: 1020px) {
 .hed {
    height: 375px;
 }

 .hed h1 {
   margin-top: 20px;
 }

 .hed-list {
  display: none;
}

.tel-mail {
  margin: 23px 2% 0 1%;
}

.menu-icon {
  display: block;
  margin-top: 0;
  padding-top: 0;
}
#menu-icon {
  display: block;
}

.menu-icon {
  margin-top: 10px;
}

.z-index {
  position: relative;
}

.z-index h2 {
  position: absolute;
}

.hed h2 {
  margin-top: 28px;
  font-size: 25px;
  position: relative;
  z-index: 10;
}

.body-top {
  margin: 0 20px;
}

.body-top p {
 font-size: 17px;
 padding: 40px 0;
}

.news {
  padding-right:0;
}

.news h3 {
  font-size: 21px;
}

.news-works {
  margin-top: 40px;
}

.news p {
  font-size: 13px;
}

.news a {
  font-size: 14px;
}

.news-a {
  padding-bottom: 10px;
}

.works h3 {
  font-size: 21px;
}

.works p {
  font-size: 14px;
}

.works a {
  font-size: 14px;
}

.works button {
  margin-top: 30px;
}

.button button {
  padding: 7px 63px;
  font-size: 13px;
}

.sixchooses p {
  /* margin-top: 20px; */
  font-size: 21px;
  font-weight: 550;
  top: 28%;
left: 50%;
}

.sixchooses a {
  font-size: 15px;
  top: 73%;
}

.right {
  height: 140px;
  margin-right: 3px;
}

.water {
  height: 140px;
}

.right-water {
  margin-bottom: 3px;
  margin-top: 40px;
}

.threes {
  margin-bottom: 3px;
}

.repaer {
  height: 140px;
}

.repaer a {
  width: 205px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 16px;
}

.sun {
  height: 140px;
}

.sun a {
  width: 205px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 16px;
}

.ear {
  height: 140px;
}

.ear a {
  width: 205px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 16px;
}

.menter {
  height: 265px;
  margin-bottom: 3px;
}

.menter p {
  top: 40%;
}

.menter a {
  top: 77%;
  font-size: 16px;
  padding: 5px 60px;
}

.copy {
  height: 43px;
}

.copy p {
  padding-top: 12px;
  font-size: 12px;
}

.menews {
  font-size: 13.5px;
  padding: 43px 30px 0px 20px;
}

.footer-left {
  margin-left: 35px;
  margin-top: 40px;
}

.footer-right > p {
  margin: 45px 0 35px 0;
  padding-left: 20px;
}

.adres {
  margin-bottom: 25px;
  padding-right: 40px;
}

.adres p {
  font-size: 14px;
}

}

@media(max-width: 770px) {
  .hed {
    height: 480px;
  }

  .hed h2 {
    margin-top: 115px;
    font-size: 22px;
  }

  .icon-tel-mail h3 {
    margin-top: 25px;
    margin-left: 80px;
    font-size: 18px;
    color: white;
    text-shadow: 0 0 5px #5ea9f5;
  }

  .hed-flex {
    display: none;
  }
  
  .icon-tel-mail {
    display: flex;
    font-size: 20px;
    color: white;
    text-shadow: 1px 2px 2px #99CCFF;
  }
  
  .icon-tel-mail p {
    padding-left: 47%;
    padding-right: 12%;
    padding-bottom: 15px;
    padding-top: 25px;
  }
  
  .icon-tel-mail a {
    color: white;
    text-shadow: 1px 2px 2px #99CCFF;
    padding-top: 25px;
    text-decoration: none;
  }
  
  .menu-icon {
    margin-top: 0;
  }
  
  
  .body-top p {
    font-size: 17px;
  }

  .sixchooses p {
    top: 33%;
    font-size: 18px;
  }

  .right-water {
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
    margin-top: 10px;
  }
  
  .right {
    width: 100%;
    margin-top: 30px;
    height: 154px;
    margin-bottom: 3px;
  }
  .right img{
    width: 100%;
    /* height: 150px; */
    object-fit: cover;
    /* margin-bottom: 0px; */
  }
  
  .water {
    width: 100%;
    height: 154px;
    margin-bottom: 3px;
    /* margin-top: 5px; */
  }
  .water img {
    margin-top: 0;
    object-fit: cover;
    
  }

  .threes {
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
  }

  .repaer {
    width: 100%;
    height: 154px;
    margin-bottom: 3px;
  }
  .repaer img{
    width: 100%;
    object-fit: cover;
    margin-bottom: 0;
  }

  .sun {
    width: 100%;
    height: 154px;
    margin-bottom: 3px;
  }
  .sun img{
    width: 100%;
    object-fit: cover;
    margin-bottom: 0;
  }

  .ear {
    width: 100%;
    height: 154px;
    margin-bottom: 3px;
  }
  .ear img{
    width: 100%;
    object-fit: cover;
  }

  .menter {
    height: 238px;
  }

  .menter p {
    top: 42%;
  }

  .sixchooses a {
    padding: 3px 58px;
    top: 70%;
    font-size: 13px;
    width: 205px;
  }

  .menter a {
    top: 75%;
  }

  .news-works {
    display: block;
  }
  
  .news {
    display: inline-block;
    flex-flow: column;
    width: 100%;
    margin: 0px;
    padding: 0px 15px;
  }

.news h3 {
  font-size: 21px;
  margin-bottom: 10px;
}

.news p {
  font-size: 14px;
}

.news-a {
    margin-bottom: 0;
    padding-bottom: 7px;
   }

.button button {
  margin-top: 13px;
  padding: 6.5px 67px;
  font-size: 13.5px;
}
   
.news-botton {
    margin-top: 30px;
 }
  
 .works {
display: flex;
flex-flow: column;
width: 100%;
margin: 0px;
padding: 0 13px;
}
 
.works h3 {
  margin-top: 45px;
  font-size: 21px;
}

.works img {
width: 100%;   
}

.works p,a {
  font-size: 14px;
}

.works button {
 margin-top: 10px;
}

.footer {
  display: block;
}

.footer-icon  {
  width: 100%;
}

.footer-right {
  width: 100%;
}

.menews {
  padding: 0;
  padding-top: 27px;
}

.footer-left {
  margin: 0;
  padding: 0;
  padding-top:42px;
  width: 100%;
  text-align: center;
}

.footer-right > p {
  margin: 25px 0 15px 0;
  padding-left: 60px;
}

.adres {
  margin: 0;
  padding: 0;
}

.adres p {
  padding-bottom: 25px;
  font-size: 13.5px;
}

}

/* スマートフォン向けレイアウト */
@media all and (max-width: 599px) {

  #top-a {
  font-size: 20px;
}

.hed h2 {
  font-size: 22px;
}

.hed h1 {
  font-size:20px;
}

.icon-tel-mail p {
  padding-left: 40%;
}

.body-top {
  margin: 0 10px;
}

.news {
  display: inline-block;
  flex-flow: column;
  width: 100%;
  margin: 0px;
  padding: 0px 10px;
  
}

.news h3 {
  margin-bottom: 15px;
}

.news-a {
  padding-bottom: 10px;
}

.right img {
  height: 155px;
  margin-bottom: 0px;
}

.sixchooses {
  font-size: 20px;
}

.sixchooses p {
  margin: 0px;
  /* padding-top: 10px; */
  top: 31%;
  font-size: 17.5px;
}

.sixchooses a {
  top: 67%;
}

.threes {
  display: inline-block;
  width: 100%;
}

.repaer {
  width: 100%;
  height: 153px;
  /* margin-top: 5px;
  margin-bottom: 5px; */
}

.sun {
  width: 100%;
  height: 153px;
  /* margin-top: 5px;
  margin-bottom: 5px; */
}

.ear {
  width: 100%;
  height: 153px;
  /* margin-top: 5px;
  margin-bottom: 5px; */
}

.menter {
  height: 239px;
}

.menter p {
  margin-top: 0px;
  top: 40%;
}

.menter a {
  top: 75%;
}

.footer {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.footer-right {
  width: 100%;
}


.footer-left {
  width: 100%;
  padding-top: 26px;
}

.footer-right > p {
  margin: 30px 0 15px 0;
  font-size:18px;
}

.menews {
  padding: 15px 30px 0 30px;
}

.fa-facebook {
  margin: 15px 0px;
}

/* .icon-right {
  width: 250px;
} */

.adres p {
  padding-bottom: 20px;
}

/* business.htmlレスポンス */
.eria-imgs {
  display: block;
  height: auto;
  width: 100%;
}

.right {
  display: block;
  height: 100%;
}
.right-img img {
  width: 80%;
  margin: 0 20%;
}
#namuber {
  position: relative;
  top: 25px;
  left: 100px;
}
.right-text {
  width: 90%;
  margin: 0 auto;
}
.right-text button {
  margin-left: 35%;
}



/* menter.html */
.three-exanple {
  display: block;
}

.one-exanple {
  text-align: center;
  margin: 10px 0;
}

#flow-p {
  font-size: 20px;
}

.flows {
  display: block;
}

.flows-button {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.my-orange {
  margin-top: 15px
}









}