* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hed {
  background-image: url(img/PKU4161359PAR58398.jpg);
  /* height: 500px; */
  background-size:cover;
  height: 650px;
}

.hed-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hed h1 {
  color: white;
  position: relative;
  top: 20px;
  left: 7%;
  /* margin: 35px 0 0 110px; */
}

.hed-img {
  width: 180px;
}

.tel-mail {
  color: white;
  text-shadow: 0 0 5px #5ea9f5;
  margin: 25px 5% 0 5%;
}

.tel-mail p {
  font-size: 25px;
  font-weight: 550;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding: 0 32px;
  margin-bottom: 5px;
}

.tel-mail a {
  display: block;
  color: white;
  text-shadow: 0 0 5px #5ea9f5;
  text-decoration: none;
  font-size: 25px;
  font-weight: 550;
  padding: 0 32px;
}

.fa-phone {
  margin-right: 5px;
}

.fa-envelope {
  margin-right: 5px;
}


/* アイフォン用アイコン */
.icon-tel-mail {
  display: none;
}
.menu-icon-menu {
  display: none;
  /* background-color:#e1eefc; */
  width: 100%;
  position: absolute;
}
.ifon-menu {
  position: relative;
  z-index: 300;
  background-color:rgba(255,255,255,0.9);
  box-shadow: 0 0 3px  #99CCFF;
  width: 96%;
  margin: 0 auto;
}
.ifon-menu li {
  /* border-bottom: solid;
  border-width: 1px;
  border-color: white; */
  padding-left: 20px; 
  height: 40px;
  line-height: 40px;
  width: 100%;
  position: relative;
  /* display: flex; */
}
.ifon-menu a {
  text-decoration: none;
  color: #3b88d4;
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
}

.ifon-menu a::after {
  content: '>';
  position: absolute;
  top: 7px;
  right: 7px;
}

.ifon-menu ul {
  list-style:none;
}

.ifon-menu li:hover {
  background-color: rgb(45, 129, 238);
  color: white;
}
.ifon-menu a:hover {
  color:white;
}



.hed-list {
  padding: 0 10%;
}


.hed-list ul {
  padding: 0 2%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* vertical-align: middle; */
}

.hed-list li {
  display: inline-block;
  
  margin: 40px 10px 0 10px;
  
}

.hed-list li a {
  text-decoration: none;
  color: white;
  text-shadow: 1px 2px 2px #99CCFF;
  text-align: justify;
  position: relative;
  display: inline-block;
  text-decoration: none;
}



.hed-list li a::after {
  position: absolute;
  bottom: 2px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #0000CC;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}
.hed-list li a:hover::after {
  bottom: -4px;
  opacity: 1;
  visibility: visible;
}

.hed h2 {
  color: white;
  text-shadow: 0 0 5px #5ea9f5;
  font-size: 30px;
  text-align: center;
  margin-top: 170px;
  padding-bottom: 10px;
}

/* アイフォン用アイコン */
.menu-icon {
  color: white;
  text-shadow: 1px 2px 2px #99CCFF;;
  text-align: center;
  font-size: 30px;
  margin-top: 10%;
  padding: 21px 0;
  display: none;
  cursor: pointer;
}
.fa-times {
  color:white;
  text-shadow: 1px 2px 2px #99CCFF;
  text-align: center;
  width: 100%;
  display: none;
  margin-left: 50%;
  cursor: pointer;
}
/* .close-icon {

} */

.body {
  background: linear-gradient(0deg, white, #6699FF);
  color:#cccccc; 
}

.body-top p {
 color: white;
 font-size: 20px;
 font-weight: 600;
 text-align: center;
 padding: 50px 0;
 border-bottom: solid;
 border-color: white;
 border-width: 1px;
 margin: 0 auto;
 width: 1281px;
}

.news {
  display: flex;
  flex-flow: column;
  width: 40%;
  margin: 0 0 0 135px;
  padding-right: 20px;
}

.news-a {
  margin-bottom: 220px;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: dotted;
  border-color: white;
  border-width: 1px;
}

.news-works {
  margin-top: 45px;
}

.news h3 {
  font-size: 25px;
  margin-bottom: 15px;
  color: white;
}

.news p {
  color: black;
}

.news a {
  text-decoration: none;
  color: black; 
  padding-bottom: 10px;
  /* border-bottom: dotted;
  border-color: white;
  border-width: 1px; */
  margin-bottom: 250px;
}

.news a:hover {
  text-decoration: underline;
}

.button {
  /* display: flex;
  justify-content: space-around;
  margin-top: 30px; */
  text-align: center;
}

.button button {
  /* width: 25%; */
  /* ブラウザ特有のスタイルを無効に */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  /* 整える */
   /* marigin: 5px;前後の隙間 */
  padding: 8px 61px;/* 塗りの余白 */
  font-size: 16px; /* フォントサイズ */
  font-weight: 600;
  background-color: rgba(255,0,0,0);/* 背景色 */
  color: #247CD6; /* テキストカラー */
  cursor: pointer; /* カーソルを指マークに */
  border-radius: 10px; /* 角の丸み */
  border-color: #247CD6; 
  transition: 0.3s; /* ホバーの変化を滑らかに */
}

/* ホバー時（カーソルをのせた時）の見た目 */
.button button:hover {
  background-color: #C0DFF8; /* 背景色 */
}

.works {
  display: flex;
  flex-flow: column;
  width: 50%;
  margin: 0 40px 0 90px;
}

.works h3 {
font-size: 25px;
margin-bottom: 15px;
color: white; 
}

.works p {
  color: black; 
}

.works a {
text-decoration: none;
color: black; 
/* padding-bottom: 10px;  */
}

.works a:hover {
  text-decoration: underline;
}

.works button {
  margin-top: 35px;
}


.news-works {
  display: flex;
}

.sixchooses {
  text-align: center;
  font-size: 25px;
  color: white;
  text-shadow: 0 0 4px #5ea9f5;
}

.sixchooses p {
  /* margin-top: 100px; */
  font-weight: 600;
  z-index: 10;
}

.sixchooses a {
  font-size: 18px;
  text-shadow: 0 0 4px #5ea9f5;
  box-shadow: 0 0 3px  #99CCFF;
  padding: 5px 57px;
  border-style: solid;
  border-width: 2px;
  border-color: #ffffff;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  /* position: absolute;
  top: 63%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%); */
}

.sixchooses a:hover {
  background-color: rgba(230, 230, 245, 0.3) /* 背景色 */
}

.right {
  height: 315px;
  width: 50%;
  margin-right: 6px;
  /* margin-bottom: 5px; */
  /* margin-top: 50px; */
  position: relative;
}
.right img {
 width: 100%;
 height: 100%;
 vertical-align: bottom;
 object-fit: cover;
 /* margin-bottom: 10px; */
}
.right p {
  position: absolute;
  top: 38%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.right a {
  /* font-size: 18px;
  text-shadow: 0 0 4px #5ea9f5;
  box-shadow: 0 0 3px  #99CCFF;
  padding: 5px 57px;
  border-style: solid;
  border-width: 2px;
  border-color: #ffffff;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer; */
  position: absolute;
  top: 63%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.water {
  height: 315px;
  width: 50%;
  position: relative;
}
.water img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  object-fit: cover;
  /* margin-bottom: 10px; */
  /* margin-top: 5px; */
 }
 .water p {
   position: absolute;
   top: 38%;
   left: 50%;
   -ms-transform: translate(-50%,-50%);
   -webkit-transform: translate(-50%,-50%);
   transform: translate(-50%,-50%);
 }
 .water a {
   position: absolute;
   top: 63%;
   left: 50%;
   -ms-transform: translate(-50%,-50%);
   -webkit-transform: translate(-50%,-50%);
   transform: translate(-50%,-50%);
 }

.right-water {
  display: flex;
  margin-top: 50px;
  margin-bottom: 6px;
}

.repaer {
  height: 315px;
  width: 33%;
  position: relative;
}
.repaer img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  object-fit: cover;
 }
 .repaer p {
   position: absolute;
   top: 38%;
   left: 50%;
   -ms-transform: translate(-50%,-50%);
   -webkit-transform: translate(-50%,-50%);
   transform: translate(-50%,-50%);
 }
 .repaer a {
   position: absolute;
   top: 63%;
   left: 50%;
   -ms-transform: translate(-50%,-50%);
   -webkit-transform: translate(-50%,-50%);
   transform: translate(-50%,-50%);
 }

.sun {
  height: 315px;
  width: 33%;
  position: relative;
}
.sun img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  object-fit: cover;
 }
 .sun p {
   position: absolute;
   top: 38%;
   left: 50%;
   -ms-transform: translate(-50%,-50%);
   -webkit-transform: translate(-50%,-50%);
   transform: translate(-50%,-50%);
 }
 .sun a {
   position: absolute;
   top: 63%;
   left: 50%;
   -ms-transform: translate(-50%,-50%);
   -webkit-transform: translate(-50%,-50%);
   transform: translate(-50%,-50%);
 }

.ear {
  height: 315px;
  width: 33%;
  position: relative;
}
.ear img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  object-fit: cover;
 }
 .ear p {
   position: absolute;
   top: 38%;
   left: 50%;
   -ms-transform: translate(-50%,-50%);
   -webkit-transform: translate(-50%,-50%);
   transform: translate(-50%,-50%);
 }
 .ear a {
   position: absolute;
   top: 63%;
   left: 50%;
   -ms-transform: translate(-50%,-50%);
   -webkit-transform: translate(-50%,-50%);
   transform: translate(-50%,-50%);
 }

.threes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.menter {
  position: relative;
  height: 510px;
  margin-bottom: 6px;
}

.menter img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  object-fit: cover;
 }
 .menter p {
   position: absolute;
   top: 44%;
   left: 50%;
   -ms-transform: translate(-50%,-50%);
   -webkit-transform: translate(-50%,-50%);
   transform: translate(-50%,-50%);
   white-space: pre-wrap;
 }
 .menter a {
   position: absolute;
   top: 66%;
   left: 50%;
   -ms-transform: translate(-50%,-50%);
   -webkit-transform: translate(-50%,-50%);
   transform: translate(-50%,-50%);
 }

.sixchooses button {
  /* margin-top: 35px; */
  /* ブラウザ特有のスタイルを無効に */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 8px 57px;
  font-size: 18px; /* フォントサイズ */
  font-weight: 550;
  background-color: rgba(255,0,0,0);/* 背景色 */
  color: white;
  text-shadow: 1px 2px 2px #99CCFF;
  cursor: pointer; /* カーソルを指マークに */
  border-radius: 10px; /* 角の丸み */
  border-color: white; 
  /* box-shadow: 1px 2px 2px #99CCFF; */
  box-shadow: 0px 0px 5px 3px rgb(21 124 214 / 20%) inset;
  transition: 0.3s; /* ホバーの変化を滑らかに */
}

/* ホバー時（カーソルをのせた時）の見た目 */
.sixchooses button:hover {
  background-color: rgb(0 0 255 / 10%); /* 背景色 */
}

.footer {
  background-color: #4c9eeb;
  display: flex;
}

.fa-facebook {
  /* margin: 50px 0 50px 25px; */
  font-size: 50px;
  color: white;
  /* background-color: #4c9eeb;  */
  padding: 0;
  border-radius: 10px;
  /* z-index: 9; */
}

/* .fa-circle {
  color: white;
  z-index: 10;
} */

.menews {
  text-align: center;
}

.footer-left {
  width: 50%;
  margin-left: 130px;
  margin-top: 53px;
  /* position: relative; */
}

.footer-right {
  width: 50%;
  text-align: center;
}

.footer-right > img {
position: relative;
top: 48px;
right: 87px;
width: 175px;
}

.footer-icon {
background-color: #4c9eeb;
/* position: absolute;
top: 8px;
right: 100%; */
}


.footer-right > p {
  font-size: 20px;
  color: white;
  margin: 50px 0 40px 0;
  padding-right: 110px;
  font-weight: 550;
}

.adres {
  margin-bottom: 30px;
  padding-right: 170px;
}

.adres p {
  position: relative;
  top: 82px;
  color: black;
  font-size: 16px;
}

.copys {
  background-color: #4c9eeb;
}

.copy {
  border-top: solid;
  border-color: white;
  border-width: 1px; 
  background-color: #4c9eeb;
  text-align: center;
  height: 49px;
  margin: 0 50px;
}

.copy p {
  padding-top: 14px;
  font-size: 14px;
  color: white;
}

.menews {
  padding: 43px 110px 30px 30px;
}

.menews a {
  text-decoration: none;
  color: black;
  display: inline-block;
  
}

.menews a:hover {
  text-decoration: underline;
}

#pagetop{
  position:fixed;
  right:20px;
  bottom: 10px;
  cursor:pointer;
  font-size: 45px;
}

.fa-long-arrow-alt-up {
  border-style: solid;
  padding: 10px 10px;
  border-radius: 10px;
  border-color: #3976f0;
  background-color: #3976f0;
  color: white;
}

